.post-list-container {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.post-list-container>i {
    width: 245px;
    margin-right: 15px;
}

.tag-list-container {
    padding-bottom: 15px;
    overflow: hidden;
    width: 100%;

    >h4 {
        display: inline-block;
        margin: 0 15px 0 0;
    }
}