// stylelint-disable declaration-no-important

@each $color, $value in $theme-colors {
  @include bg-variant(".bg-#{$color}", $value);
}

@if $enable-gradients {
  @each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
  }
}

.bg-white {
  background-color: $white !important;
}

.bg-transparent {
  background-color: transparent !important;
}

%bg-yellow{
  background-color: $yellow;
}
%bg-green{
  background-color: $green;
}
%bg-white{
  background-color: $white;
}
%bg-primary{
  background-color: $primary;
}
%bg-secondary{
  // background-color: $gray-1000;
}
.bg-primary{
  @extend %bg-primary
}
.bg-yellow{
  @extend %bg-yellow
}
.bg-green{
  @extend %bg-green
}
.bg-white{
  @extend %bg-white
}
.bg-secondary{
  // @extend %bg-secondary
}
