$cardWidth: 220px;

.post-list-item {
    display: flex;
    width: $cardWidth;
    height: auto;
    min-height: 300px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #000;
    position: relative;
    align-items: center;
    justify-content: center;

    img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    .list-item-footer {
        background-color: #000;
        padding: 12px;
        overflow: hidden;
        width: 100%;
        height: 75px;
        position: absolute;
        left: 0;
        bottom: 0;

        a {
            display: block ruby;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: 0;
            margin: 0 0 5px 0;
            font-size: 16px;
        }

        .sub-footer {
            display: flex;
            align-items: baseline;

            >a {
                color: #b3b3b3;
                display: block ruby;
                overflow: hidden;
                text-overflow: ellipsis;
                padding: 0;
                margin: 0;
                font-size: 14px;
            }

            >span {
                flex: 1;
                color: #b3b3b3;
                display: block;
                font-size: 14px;
                padding-left: 15px;
            }
        }
    }
}