//品牌主色调
$brandColor: #f6214b;
//导航条背景色
$navbarBgColor: #000;
//导航条悬停背景色
$navbarBgHoverColor: #303d47;
//文字颜色
$textColor: #fff;
$bodyBgColor: rgba(0, 0, 0, 0.85);

/* 一些自定义的全局样式 */
* {
    font-family: '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: '微软雅黑', 'Microsoft YaHei', '宋体', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: $bodyBgColor;

    ::selection {
        background-color: $brandColor;
        color: $textColor;
    }
}

.main-nav {
    background: $navbarBgColor;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);

    .navbar-toggle {
        .icon-bar {
            background-color: $textColor;
        }
    }

    .navbar-collapse {
        background: $navbarBgColor;

        li>a {
            color: $textColor;
        }

        li.active,
        li>a:hover,
        li>a:focus,
        .open>a,
        .open>a:hover,
        .open>a:focus {
            color: $textColor;
            background-color: $navbarBgHoverColor;
        }
    }

    .navbar-brand-my {
        color: $textColor;
        line-height: 50px;
        padding: 0 15px 0 0;
        text-align: left;
        vertical-align: middle;
    }
}

.main-container {
    min-height: 1024px;
    padding-top: 70px;
    padding-bottom: 20px;
}

.footer {
    padding: 30px 0px;
    background: $navbarBgColor;
    color: $textColor;

    a {
        color: $textColor;
    }
}