$navbarBgColor: #3f4b57;
$navbarBgHoverColor: #303d47;
.main-nav {
  background: $navbarBgColor;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);
}
.bd-navbar {
  .navbar-nav {
    > li {
      display: flex;
      >a{
          cursor: pointer;
          &:hover{
            background-color:$navbarBgHoverColor;
          }
      }
    }
    .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem;
    }
  }
}
