.post-detail-container {
    margin-bottom: 15px;
    position: relative;

    .media-container {
        background: #000;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 0;
        padding-bottom: calc(100%*9/16);

        .video-root {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
        }

        //以下覆盖 Galleria 组件内部的样式。
        .galleria-root {
            .p-galleria-item-wrapper {
                display: flex;
                flex-direction: column;
                position: inherit;

                .p-galleria-item-container {
                    position: inherit;
                    display: flex;
                    height: 100%;
                }

                .p-galleria-item {
                    img {
                        max-height: 100%;
                        width: auto;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        margin: auto;
                        display: block;
                    }
                }
            }
        }

        .right-bar {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: end;
            height: 100%;
            padding: 100px 35px;

            .follow-container {
                margin-bottom: 30px;
                text-align: center;

                .user-avatar {
                    width: 48px;
                    height: 48px;
                    overflow: hidden;
                    border-radius: 50%;
                    background-color: #777;

                    >img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .op-follow {
                    font-size: 24px;
                    color: #f6214b;
                    margin-top: -12px;
                    cursor: pointer;
                    display: block;
                }
            }

            .op-icon-basic {
                width: 24px;
                height: 24px;
                font-size: 24px;
                color: #fff;
                margin-bottom: 30px;
                cursor: pointer;
            }
        }
    }

    .post-info-container {
        position: absolute;
        padding: 0 15px;
        bottom: 40px;
        left: 0;
        width: 100%;
        height: 85px;
        overflow: hidden;
        word-wrap: break-word;

        .info-header {
            display: flex;
            align-items: baseline;

            >h4 {
                color: #fff;
                font-size: 20px;
                margin: 10px 0px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                white-space: pre-wrap;
                /* CSS3 */
                white-space: -moz-pre-wrap;
                /* Firefox */
                white-space: -pre-wrap;
                /* Opera <7 */
                white-space: -o-pre-wrap;
                /* Opera 7 */
                word-wrap: break-word;
                /* IE */
            }

            >span {
                flex: 1;
                color: #b3b3b3;
                display: block;
                font-size: 14px;
                padding-left: 5px;
            }
        }

        .post-content {
            color: #fff;
            font-size: 14px;
            overflow: hidden;
            white-space: nowrap;
            white-space: pre-wrap;
            /* CSS3 */
            white-space: -moz-pre-wrap;
            /* Firefox */
            white-space: -pre-wrap;
            /* Opera <7 */
            white-space: -o-pre-wrap;
            /* Opera 7 */
            word-wrap: break-word;
            /* IE */
        }
    }
}