.user-info {
    display: flex;
    margin-bottom: 30px;
    background-color: #2a323d;
    padding: 30px;

    .user-avatar {
        width: 150px;
        height: 150px;
        overflow: hidden;
        border-radius: 50%;
        margin-right: 30px;
        min-width: 150px;
        min-height: 150px;

        >img {
            width: 100%;
            height: 100%;
        }
    }

    .user-details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        position: relative;

        >p {
            overflow: hidden;
            text-overflow: ellipsis;
            height: 24px;
            word-wrap: break-word;
            word-break: break-all;
        }

        >span {
            font-family: 'PingFang SC', 'sans-serif';
            font-size: 20px;
            font-weight: 600;
            line-height: 28px;
            margin: 0 0 5px 0;
        }

        .user-stats {
            display: flex;
            margin: 0 0 15px 0;

            >p {
                margin: 0 35px 0 0;
                line-height: 22px;

                >span:first-child {
                    font-weight: 500;
                    font-size: 14px;
                    color: #999;
                    padding-right: 5px;
                }

                >span:last-child {
                    font-weight: 600;
                    font-size: 16px;
                    color: #fff;
                }
            }
        }

        .info2 {
            margin: 0 0 15px 0;

            >span {
                font-size: 14px;
                line-height: 22px;
                margin: 0 15px 0 0;
            }
        }

        .operations {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            margin: 0;
        }
    }
}