@import "./assets/scss/bootstrap.scss";  
@import "../node_modules/antd/dist/antd.min.css"; 
  
$navbarBgColor: #3f4b57;
$navbarBgHoverColor: #303d47;
body{
    color:#666;
    font-size: 14px;
    a{
      &:focus{
        text-decoration: none;
      }
      text-decoration: none;
      &.active{
        background-color: $navbarBgHoverColor;
      }
    }
  
}
.main-nav {
  background: $navbarBgColor;
  box-shadow: 0 2px 5px 0 rgba(248, 56, 56, 0.24);
}
.bd-navbar {
  .navbar-nav {
    @include media-breakpoint-down("sm", $grid-breakpoints) {
      flex-direction: column !important;
    }
    > li {
      display: flex;
      align-items: center;
      @include media-breakpoint-down("sm", $grid-breakpoints) {
        > a {
          flex:1;
          
        }
      }
      > a {
        cursor: pointer;
        color: inherit;
        padding: 0.6rem 0.8rem;
        &:hover {
          background-color: $navbarBgHoverColor;
        }
      }
    }
  }
  .collapse {
    @include media-breakpoint-down("sm", $grid-breakpoints) {
      flex-direction: column;
    }
  }
}
