//导航条背景色
$navbarBgColor: #000;
//导航条悬停背景色
$navbarBgHoverColor: #303d47;
//文字颜色
$textColor: #fff;

.main-nav {
    background: $navbarBgColor;
    height: 50px;
    min-height: 50px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.24);

    .navbar-toggle {
        .icon-bar {
            background-color: $textColor;
        }
    }

    .navbar-brand-my {
        line-height: 50px;
        padding: 0;
        text-align: left;
        vertical-align: middle;
    }

    .navbar-collapse {
        background: $navbarBgColor;

        .navbar-nav {
            >li {
                >a {
                    border: none;

                    &:hover {
                        background: $navbarBgHoverColor;
                    }

                    &:focus {
                        background: $navbarBgHoverColor;
                    }
                }
            }

            .navbar-form {
                margin: 10px 15px;
                padding: 0;

                input {
                    width: 200px;
                    height: 30px;
                }
            }
        }
    }
}

//导航条响应式，覆盖 Bootstrap3 默认的断点
@media (max-width: 768px) {
    .navbar-header {
        float: none;
    }

    .navbar-left,
    .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .collapse.in {
        display: block !important;
    }
}